body {
  padding-top: 50px;
  color:black;
  
}
.navbar-inverse{
    background: white;
}

.navbar-nav{
    .active{
        a {
            background:white;
        }
    }
    li >a {
        color:black;
    }
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}